<div id="search" data-role="page" jqm-bootstrap>
    <div class="header" data-role="header">
        <a class="link header-back-button" href="javascript:return false;" ng-tap-back data-role="none">Home</a> 
        <h3>Search Songs</h3>
    </div>
    <div data-role="content" >
        <img class="content-top-logo" src="img/nms.gif"/>
        <div class="banner add-margin" >
            <img src="{{data.bannerImageSrc}}" alt="" image-hideable ng-tap="data.bannerClicked()"/>
        </div> 
        <ul data-role="listview" class='song-list thumb-list'>
            <li class='item' ng-repeat="item in items" jqm-dynamic-list ng-tap="itemClicked(item)">
                <a href="javascript:return false;" ng-tap-link="/song-detail/{{item.id}}">
                    <img src='{{item.img}}'/>
                    <span>{{item.name}}</span>
                    <small>{{item.artist}}</small>
                    <hr>
                </a>
            </li>
            <li ng-show="!items" class="empty-li">...Loading...<hr/></li>
            <li ng-show="items.length == 0" class="empty-song-li"> 
                <a href='javascript:return false;'>
                    <img src='img/empty.png'/>
                    <span>No Record Found</span>
                    <small>Please Search Again</small>
                </a>
            </li>
        </ul>
    </div>
</div>
