<div id="contacts" data-role="page" jqm-bootstrap>
    <div class="header" data-role="header">
        <a class="link header-back-button" href="javascript:return false;" ng-tap-back data-role="none">Home</a> 
        <h3>Contact Us</h3>
    </div>
    <div data-role="content" >
        <img class="content-top-logo" src="img/nms.gif"/>
        <div class="banner remove-margin" >
            <img src="{{data.bannerImageSrc}}" alt="" image-hideable ng-tap="data.bannerClicked()"/>
        </div>        
        <ul data-role="listview" >
            <li class='details' jqm-dynamic-list>
                <h2 class='label'>Customer Service</h2>
                <div>
                    <span>Benji Kurtz, VP/Operations</span>
                    <a href='mailto:benji@newmusicserver.com'>benji@newmusicserver.com</a>
                    <span>Radio Stations</span>
                </div>
            </li>
            <li class='details' jqm-dynamic-list>
                <h2 class='label'>Business Contact</h2>
                <div>
                    <span>Michael Newman, Founder/CEO</span>
                    <a href='mailto:newman@newmusicserver.com'>newman@newmusicserver.com</a>
                    <span>Labels</span>
                </div>
            </li>
            <li class='details' jqm-dynamic-list>
                <div>
                    <span>Michael Becker, Top 40 and Hot AC Label Relations</span>
                    <a href='mailto:becker@newmusicserver.com'>becker@newmusicserver.com</a>
                    <span></span>
                </div>
            </li>
            <!--<li ng-show="!items || items.length == 0" class="empty-li">...Loading...</li>-->
        </ul>
    </div>
</div>
